@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Poppins, sans-serif;
}

.standard-margin-top {
  margin-top: 120px;
}

@media (max-width: 800px) {
  .standard-margin-top {
    margin-top: 48px;
  }
}

.scroll-wrapper {
  position: relative;
}

.scroll-wrapper::before,
.scroll-wrapper::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100px;
  pointer-events: none;
  z-index: 1000;
}

.scroll-wrapper::before {
  left: 0;
  background: linear-gradient(to right, var(--background) 0%, transparent 100%);
}

.scroll-wrapper::after {
  right: 0;
  background: linear-gradient(to left, var(--background) 0%, transparent 100%);
}